<!doctype html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="controller.js"></script>
</head>
  <body ng-app="nebula" ng-controller="control" style="background-color:lightblue;">

	  <div class="container">
		  	  
    <div class="collapse">
	  
    </div>
	
	<div id="accordion">   
		  
	  <div class="card">
	    <div class="card-header" id="headingTwo">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" >
	          <h3>Modelo</h3>
	        </button>
	      </h5>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
	      <div class="card-body">
	        <img src="arium_nova.svg" ng-click="modelo('nova')" class="img-fluid" alt="Nova"  width="300">
			<img src="arium_thanos.svg" ng-click="modelo('thanos')" class="img-fluid" alt="Thanos" width="300" > 
			<img src="arium_nebula.svg" ng-click="modelo('nebula')" class="img-fluid" alt="Nebula" width="300" >
	      </div>
	    </div>
	  </div>
	  
	  <div class="card">
	    <div class="card-header" id="headingThree">
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">
	          <h3>Cor</h3>
	        </button>
	      </h5>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
	      <div class="card-body">
	        <img src="laranja.png" class="img-fluid" alt="Nova"  width="100">
			<img src="vermelho.png" class="img-fluid" alt="Thanos" width="100" > 
			<img src="roxo.png" class="img-fluid" alt="Nebula" width="100" >
	        <img src="verde.png" class="img-fluid" alt="Nova"  width="100">
			<img src="azul.png" class="img-fluid" alt="Thanos" width="100" > 
	      </div>
	    </div>
	  </div>
	</div>
	
	  <div class="card">
	    <div class="card-header" id="headingFour">
	      <h5 class="mb-0">
	        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
	          <h3>Interior</h3>
	        </button>
	      </h5>
	    </div>
	    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
	      <div class="card-body">
	        <img src="brown_leather.jpg" class="img-fluid" alt="Nova"  width="200">
			<img src="grey_leather.jpg" class="img-fluid" alt="Thanos" width="200" > 
			<img src="white_leather.jpg" class="img-fluid" alt="Nebula" width="200" >
	        <img src="red_leather.jpg" class="img-fluid" alt="Nova"  width="200">
	      </div>
	    </div>
	  </div>
	  <button type="button" ng-click="createCar()" class="btn-warning" >Fazer pedido</button>
	  <div class="alert alert-success">
	    <strong>Não solicitado {{contador}}</strong> 
	  </div>
	  <button type="button" ng-show="hasFinished()" class="btn-warning" ng-click="solicitaSeguro();">Solicita seguro</button>
</body>
</html>